h1{background-color: #004d4d}
h1{color:#ffffff}
h1{text-align: center}
body{background-image:url(background2.jpg);}
body{align-items: center;text-align: center;font-family: 'georgia'}
body{color:#ffffff}
th,td,tr{background-color:black;color: white}
body{border-style: inset}
body{width: : 400px;height: 2000px}
body{border:5px round #009999;}
body{padding-left: 20px}
body{padding-right: 20px}
body{ margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;}
.fllw{background-color: blue; color: white; font-family: 'calibri'}
img{border-radius : 40px}
img{border:5px round #009999;}
